In [7]:
pip install gmaps

Requirement already satisfied: gmaps in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (0.9.0)
Requirement already satisfied: ipython>=5.3.0 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (7.16.1)
Requirement already satisfied: geojson>=2.0.0 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (2.5.0)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (4.3.3)
Requirement already satisfied: six in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (1.15.0)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (7.5.1)
Requirement already satisfied: decorator in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (49.2.0.post20200714)
Requirement already satisfied: backcall in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: pygments in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (2.6.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (3.0.5)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.3)
Requirement already satisfied: jedi>=0.10 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.17.1)
Requirement already satisfied: ipython-genutils in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.7)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.3.2)
Requirement already satisfied: wcwidth in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.7.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: jupyter-core in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.3)
Requirement already satisfied: notebook>=4.4.1 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: jupyter-client in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.6)
Requirement already satisfied: tornado>=4.2 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.4)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.16.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (1.7.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (19.3.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (227)
Requirement already satisfied: nbconvert in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (5.6.1)
Requirement already satisfied: Send2Trash in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: jinja2 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.2)
Requirement already satisfied: terminado>=0.8.1 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.3)
Requirement already satisfied: prometheus-client in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.0)
Requirement already satisfied: pyzmq>=17 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (19.0.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: zipp>=0.5 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.1.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: bleach in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.1.5)
Requirement already satisfied: defusedxml in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: testpath in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: webencodings in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: packaging in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.4)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\yuuna\anaconda3\envs\pythondata\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.4.7)
Note: you may need to restart the kernel to use updated packages.

In [9]:
jupyter nbextension enable --py --sys-prefix widgetsnbextension

SyntaxError: invalid syntax (<ipython-input-9-e3a674b8a334>, line 1)

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dunedin,NZ,2020-10-18 04:26:46,-45.87,170.50,48.99,76,83,17.00
1,1,Vaini,TO,2020-10-18 04:31:30,-21.20,-175.20,75.20,83,40,17.22
2,2,New Norfolk,AU,2020-10-18 04:31:31,-42.78,147.06,61.00,64,99,3.00
3,3,Norman Wells,CA,2020-10-18 04:31:31,65.28,-126.83,5.00,84,5,3.36
4,4,Takoradi,GH,2020-10-18 04:31:31,4.88,-1.76,76.35,90,94,5.84

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
#instead of for loop, change heat_layer line and adjust fig size
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Vaini,TO,2020-10-18 04:31:30,-21.20,-175.20,75.20,83,40,17.22
4,4,Takoradi,GH,2020-10-18 04:31:31,4.88,-1.76,76.35,90,94,5.84
14,14,Hithadhoo,MV,2020-10-18 04:31:34,-0.60,73.08,83.66,77,97,21.32
21,21,Kavieng,PG,2020-10-18 04:31:36,-2.57,150.80,84.74,72,38,7.90
22,22,Geraldton,AU,2020-10-18 04:31:09,-28.77,114.60,80.60,42,0,18.34
23,23,Hilo,US,2020-10-18 04:31:37,19.73,-155.09,80.60,69,1,6.93
27,27,Bambanglipuro,ID,2020-10-18 04:31:38,-7.95,110.28,83.46,65,66,12.55
43,43,Sorong,ID,2020-10-18 04:31:42,-0.88,131.25,84.70,68,100,12.50
45,45,Harper,LR,2020-10-18 04:31:42,4.38,-7.72,76.10,90,60,5.77
46,46,Busselton,AU,2020-10-18 04:31:42,-33.65,115.33,80.01,31,0,1.36

In [25]:
preferred_cities_df.count()

City_ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
1           Vaini      TO     75.20 -21.20 -175.20
4        Takoradi      GH     76.35   4.88   -1.76
14      Hithadhoo      MV     83.66  -0.60   73.08
21        Kavieng      PG     84.74  -2.57  150.80
22      Geraldton      AU     80.60 -28.77  114.60
23           Hilo      US     80.60  19.73 -155.09
27  Bambanglipuro      ID     83.46  -7.95  110.28
43         Sorong      ID     84.70  -0.88  131.25
45         Harper      LR     76.10   4.38   -7.72
46      Busselton      AU     80.01 -33.65  115.33

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    ###hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
#check if df now has the hotel name in index column
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng                  Hotel Name
1           Vaini      TO     75.20 -21.20 -175.20         Keleti Beach Resort
4        Takoradi      GH     76.35   4.88   -1.76  Raybow International Hotel
14      Hithadhoo      MV     83.66  -0.60   73.08           Scoop Guest House
21        Kavieng      PG     84.74  -2.57  150.80         Nusa Island Retreat
22      Geraldton      AU     80.60 -28.77  114.60   Broadwater Mariner Resort
23           Hilo      US     80.60  19.73 -155.09         Hilo Hawaiian Hotel
27  Bambanglipuro      ID     83.46  -7.95  110.28                  Puri Brata
43         Sorong      ID     84.70  -0.88  131.25             The Waigo Hotel
45         Harper      LR     76.10   4.38   -7.72                 Screensaver
46      Busselton      AU     80.01 -33.65  115.33     Observatory Guest House

In [39]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = hotel_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
#add a marker
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [38]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]