## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
import import_ipynb

In [2]:
import os

In [3]:
os.getcwd()

'C:\\Users\\yuuna\\Weather_Analysis\\World_Weather_Analysis\\Vacation_Itinerary'

In [4]:
import sys

In [5]:
sys.path.append("C:\\Users\\yuuna\\Weather_Analysis\\World_Weather_Analysis")

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [7]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:\\Users\\yuuna\\Weather_Analysis\\World_Weather_Analysis\\Vacation_Search\\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Juba,SS,84.61,broken clouds,4.85,31.58,ROYAL PALACE HOTEL - JUBA
1,1,Hithadhoo,MV,83.01,overcast clouds,-0.60,73.08,Scoop Guest House
2,2,Grand-Santi,GF,71.69,scattered clouds,4.25,-54.38,Hotel La Villa Couacou
3,3,Osmena,PH,85.21,clear sky,10.52,119.93,Arjemarkyza Lodge
4,10,Sambava,MG,80.73,clear sky,-14.27,50.17,Melrose

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
# 4b. Display the figure

# Get the latitude and longitude.
locations = vacation_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = vacation_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#add a marker
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Juba,SS,84.61,broken clouds,4.85,31.58,ROYAL PALACE HOTEL - JUBA
1,1,Hithadhoo,MV,83.01,overcast clouds,-0.60,73.08,Scoop Guest House
2,2,Grand-Santi,GF,71.69,scattered clouds,4.25,-54.38,Hotel La Villa Couacou
3,3,Osmena,PH,85.21,clear sky,10.52,119.93,Arjemarkyza Lodge
4,10,Sambava,MG,80.73,clear sky,-14.27,50.17,Melrose

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Busselton"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Busselton"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Carnarvon"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Port Hedland"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Esperance"]

In [35]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()

In [36]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Latitude-longitude pairs
start=tuple(start.reshape(1,-1)[0])
end=tuple(end.reshape(1,-1)[0])
stop1=tuple(stop1.reshape(1,-1)[0])
stop2=tuple(stop2.reshape(1,-1)[0])
stop3=tuple(stop3.reshape(1,-1)[0])


fig = gmaps.figure()
busselton2busselton = gmaps.directions_layer(start, start, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(busselton2busselton)
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,48,Busselton,AU,80.01,clear sky,-33.65,115.33,Observatory Guest House
1,59,Carnarvon,AU,77.00,clear sky,-24.87,113.63,Hospitality Carnarvon
2,84,Port Hedland,AU,84.20,clear sky,-20.32,118.57,The Esplanade Hotel
3,415,Esperance,AU,75.20,clear sky,-33.87,121.90,Hospitality Esperance

In [38]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [39]:
# 11a. Add a marker layer for each city to the map.
# 11b. Display the figure

# Get the latitude and longitude.
locations = itinerary_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = itinerary_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#add a marker
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))